<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header">
        <a [routerLink]="['/']" class="app-logo">
            <div class="app-logo-small h-2rem" >
                <img src="assets/layout/images/the-yin-yang.png" alt="logo">
            </div>
        <div class="app-logo-normal" style="display:flex;align-items:center;white-space:nowrap;">
            <img src="assets/layout/images/the-yin-yang.png" alt="logo" style="display:block;">
            <h2 class="h-2rem ml-3" style="width:304px;height:60px;line-height:60px;margin:0;font-weight:600;display:flex;align-items:center;white-space:nowrap; color:white">Laboratorio</h2>
        </div>
        </a>
        <button class="layout-sidebar-anchor p-link z-2 " type="button" (click)="anchor()"></button>
    </div>
 

    <div #menuContainer class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>